#content {
    padding: 20px 0;
}

.user-email {
    margin-right: 8px;
}

.table td {
    vertical-align: middle;
}

.team .panel-heading {
    text-align: center;
}

.team .avatar{
    display: flex;
    margin-bottom: 20px;
}

.avatar {
    vertical-align: middle;
    width: 100%;
    display: flex;
    justify-content: center;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    vertical-align: middle;
}
@media screen and (min-width: 991px) {
    .hero.is-medium .hero-body{
        padding: 5rem 1.5rem;
    }
}
